<!DOCTYPE html>
<html lang="en">
<head>
  <title>Books Form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
 
<div class="container" align="center">
	
	<div class="panel panel-primary">
    	
    	<div class="panel-heading" style="height: 100px;">
    		<h2>Book Details</h2>
    	</div>

      <div class="panel-body">

        <form id="dataForm" action="/books" method="POST">
            <div class="form-group" style="width: 30%">
              <label for="usr">Book Name</label>
              <input type="text" class="form-control" id="bookNameId" name="title" value= book.title>
            </div>

            <div class="form-group" style="width: 30%">
              <label for="usr">Author Name</label>
              <input type="text" class="form-control" id="authorNameId" name="author">
            </div>

            <div class="form-group" style="width: 30%">
              <label for="usr">Number of Pages</label>
              <input type="text" class="form-control" id="numPagesId" name="numPages">
            </div>

        </form>

          <button type="button" id="homeBtn" class="btn btn-success" style="padding: 2px">Home Page</button>
          <button type="button" id="saveBtn" class="btn btn-warning">Save Details</button>
          <button type="button" id="deleteBtn" class="btn btn-danger" style="visibility: hidden">Delete Details</button>

      </div>

    </div>

</div>
  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript">

    document.getElementById("bookNameId")[0].value="Temp";
    $(document).ready(function() {

      let asdas = book.title;

      $('#bookNameId').html("book from temp");

      if(asdas)
        $('#bookNameId').html(#{book.title});

      if(#{book.author})
        $('#authorNameId').html(#{book.author});

      if(#{book.numPages})
        $('#numPagesId').html(#{book.numPages});


     $('#homeBtn').bind("click",function(){
            alert(window.location.hostname);
            window.location.href = window.location.hostname+"/books";
     });

   });

  </script>

</body>
</html>
