<!DOCTYPE html>
<html lang="en">
<head>
  <title>Book List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
 
<div class="container" align="center">
	
	<div class="panel panel-success">
    	
    	<div class="panel-heading" style="height: 100px;">
    		<h2>Books List</h2>
    	</div>

      	<div class="panel-body">

      		<table class="table table-striped">

			    <thead>
			      <tr>
			        <th width="40%">Book Title</th>
			        <th width="30%">Author</th>
			        <th width="30%">Number of Pages</th>
			      </tr>
			    </thead>
			    
			    <tbody>
    				
			    </tbody>

			</table>

      	</div>

    </div>

</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
