<!DOCTYPE html>
<html lang="en">
<head>
  <title>ErrorPage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
 
<div class="container" align="center">
	
	<div class="panel panel-success">
    	
    	<div class="panel-heading" style="height: 100px;">
    		<h2>Error Description</h2>
    	</div>

      <div class="panel-body">

          <h3></h3>

          <button type="button" id="homeBtn" class="btn btn-success">Home Page</button>

      </div>

    </div>

</div>
  


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript">

    $(document).ready(function() {

     $('#homeBtn').bind("click",function(){
            alert(window.location.hostname);
            window.location.href = window.location.hostname+"/books";
     });

   });

  </script>

</body>
</html>
